{% extends "Base.html" %}
{% block SiteTitle %}{{cat_object.name}}{% endblock %}
{% block Content %}
{% include "navbar.html" with all_cats=all_cats%}
<section class="products-page p-50">
  <div class="container text-left">
    <div class="row">
      <div class="col-lg-2 products-page-leftsidebar">
        <h2>Category</h2>
        <ul class="list-unstyled">
          <li>Clothing</li>
          <li>Shoes</li>
          <li>Electronics</li>
          <li>Accessories</li>
        </ul>
        <h2>Brand Colour</h2>
        <ul class="list-unstyled">
          <li>Clothing</li>
          <li>Shoes</li>
          <li>Electronics</li>
          <li>Accessories</li>
        </ul>
      </div>
      <div class="col-lg-10 category_page">
        <p>{{ products_cat.count }} results found for {{cat_object.name}}</p>
        <div class="row">
          {% for item_product in products_cat %}
          <div class="item_p col-lg-2">
            {% if item_product.express %}
              <div class="express_delivery">
                <span>Express Delivery</span>
              </div>
            {% endif %}
            <div class="text-center">
              <img src="{{item_product.Images.url}}" class="img-fluid" alt="">
            </div>
            <div class="item-info-product">
              <p class="brand_name">{{ item_product.Brand }}</p>
              <a href="{{ item_product.get_absolute_url }}"><h2>{{ item_product.title|slice:":45"}}</h2></a>
              {% if item_product.OfferPercent is not None %}
              <span class="OfferPercent">{{ item_product.OfferPercent }}% OFF</span>
              <p class="dash_price">EGP {{ item_product.price }}</p>
              <p>EGP {{ item_product.offerprice }}</p>
              {% else %}
              <p>EGP {{ item_product.price }}</p>
              {% endif %}
            </div>
            <form class="cart_update" action="{% url 'cart:update' %}" method="POST">
              {% csrf_token %}
              <input type="hidden" name="product_id" value="{{ item_product.id }}">
              {% if item_product in the_cart.Products.all %}
              <button class="cart-btn btn btn-danger" type="submit">Remove</button>
              {% else %}
              <button class="cart-btn btn btn-primary" type="submit">ADD TO CART</button>
              {% endif %}
            </form>
          </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
</section>
{% endblock %}
