{% url 'home_view' as home_url %}
{% url 'signin_view' as login_url %}
{% url 'register_url_view' as register_url %}
{% url 'home' as home_url %}
{% url 'home' as home_url %}

<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="{{ home_url }}">SOUQ</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <form method="GET" action="{% url 'search:query' %}" class="form-inline">
        <input class="form-control mr-sm-2" type="search" name='q' placeholder="Search" aria-label="Search">
      </form>
    </ul>
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="#">Logout</a>
      </li>
      {% else %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sign In or Sign Up
        </a>
        <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{{login_url}}">Sign In</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{{register_url}}">Sign Up</a>
        </div>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="/cart">Cart <i class="fas fa-cart-plus"></i></a>
      </li>
    </ul>
  </div>
</nav>
<div class="btm-nav">
     <ul class="navbar-nav mr-auto">
       {% for category in all_cats %}
       <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" href="{{ category.get_absolute_url }}" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           {{category.name}}
         </a>
         <div class="dropdown-menu text-center" aria-labelledby="navbarDropdown">
           {% for subcat in Sub_cat_1 %}
           {% if subcat.parent == category %}
           <a class="dropdown-item" href="{{subcat.get_absolute_url}}">
             {{subcat.name}}
           </a>
           <div class="dropdown-divider">
           </div>
           {% endif %}
           {% endfor %}

         </div>
       </li>
       {% endfor %}
    </ul>

</div>
